@import"./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: white;
  width: 100%;
}

.navbar {
  padding: 20px 5px 20px 10px;
  justify-items:center;
  align-content:space-between;
  font-family: "Montserrat", sans-serif;
  z-index: 9;
}

.navbar-brand{
  display: flex;
  width: 150px;
  
}

.navbar-toggler-icon{
  filter: invert(100%);
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.679);
  padding: 50px 10px 50px 10px;
  margin-top: 40px;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
  width: 180px;
  height: 40px;
}

.nav-item:hover{
  background-color: #00ffae23;
  border-color: $color-principal;
  border-style: solid;
  border-width: 1.8px;
  box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
-webkit-box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
-moz-box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
}

.navbar-nav {
  a {
    color: white;
    font-weight: 300;
    font-size: 14px;

    &[aria-current='page'] {
      color: $color-principal;
    }

    &:hover {
      color: white;
      font-weight: 400;
      box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
      transition: all 0.2s ease-in-out;
    }
  }
}

.btn-cart-mobile{
  display: flex;
  position: relative;
  justify-content:space-evenly;
  align-items: center;
  background-color:black;
  width: 35px;
  height: 23px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10%;
  left: 10px;
}
.counter-mobile a{
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.counter-mobile{
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  font-weight:400;
  color: white;
  padding-top: 2px;
}

.btn-cart-desktop{
  display: none;
  background-color: black;
}

.bi-mobile{
  display: flex;
  margin-bottom: 0px;
  color: white;
}

.bi{
  display: none;
  margin-bottom: 0px;
}

.counter{
  display: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  font-weight:bolder;
  color: black;
  padding-top: 2px;
}


@media only screen and (min-width: 320px)  {
  .btn-cart-mobile{
    left: 15px;
  }
}

@media only screen and (max-width: 375px) and (min-width: 321px){
  .btn-cart-mobile{
    left: 40px;
  }
}

@media only screen and (max-width: 425px) and (min-width: 376px){
  .btn-cart-mobile{
    left: 65px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px){
  .navbar {
    padding: 20px 20px 20px 20px;
    justify-items:center;
    align-content:center;
  }

  .btn-cart-mobile{
    left: 220px;
  }
  
  
}

@media only screen and (max-width: 1024px) and (min-width: 769px)  {
  .navbar {
    padding: 0px 0px 0px 40px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.679);
    padding: 50px 10px 50px 10px;
    margin-top: 40px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
    width: 180px;
    height: 40px;
  }
  
  .btn-cart-desktop{
    display: none;
    position: relative;
    justify-content:center;
    align-items: center;
    background-color:$color-principal;
    width: 35px;
    height: 23px;
    border-style: solid;
    border-width: 1px;
    border-color: $color-principal;
    border-radius: 10%;
    left: -33px;
    top: -1px;
  }
  .counter a{
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-right: 5px;
  }
  
  .counter{
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight:500;
    color: black;
    padding-top: 2px;
  }
  
  .bi{
    display: none;
    margin-left: 3px;
  }

  .btn-cart-mobile{
    display: none;
  }
  .counter-mobile a{
    display: none;
  }
  .counter-mobile{
    display: none;
  }
  .bi-mobile{
    display: none;
  }

  .nav-item:hover{
    background-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
  }

  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 14px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
} 

@media only screen and (max-width: 1440px) and (min-width: 1024px)  {
  .navbar {
    padding: 0px 0px 0px 40px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: inline-flex;
    justify-content: center;
    align-items:flex-end;
    background-color: transparent;
    padding: 15px 40px 15px 0px;
    margin-top: 0px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
  }

  .btn-cart-desktop{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    background-color:black;
    width: 40px;
    height: 23px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10%;
    left: -33px;
    top: -1px;
  }
  .counter a{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-left: 3px;
  }
  
  .counter{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight:500;
    color: white;
    padding-top: 2px;
    margin-left: 3px;
  }
  
  .bi{
    display: flex;
    margin-left: -1px;
    color: white;
  }

  .btn-cart-mobile{
    display: none;
  }
  .counter-mobile a{
    display: none;
  }
  .counter-mobile{
    display: none;
  }
  .bi-mobile{
    display: none;
  }
  

  .nav-item:hover{
    background-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
  }
  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 12px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
} 

@media only screen and (max-width: 1980px) and (min-width: 1441px)  {
  .navbar {
    padding: 0px 30px 0px 60px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: inline-flex;
    justify-content: center;
    align-items:flex-end;
    background-color: transparent;
    padding: 15px 40px 15px 0px;
    margin-top: 0px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
  }

  .btn-cart-mobile{
    display: none;
  }
  .counter-mobile a{
    display: none;
  }
  .counter-mobile{
    display: none;
  }
  .bi-mobile{
    display: none;
  }
  .btn-cart-desktop{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    background-color:black;
    width: 40px;
    height: 23px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10%;
    left: -35px;
    top: -1px;
  }
  .counter a{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-left: 3px;
  }
  
  .counter{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-weight:500;
    color: white;
    padding-top: 2px;
    margin-left: 3px;
  }
  
  .bi{
    display: flex;
    margin-left: -1px;
    color: white;
  }

  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 12px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
 .nav-item:hover{
  background-color: transparent;
  border-color: none;
  border-style: none;
  border-width: none;
  box-shadow: none;
}
} 