@import"./general";

.top__section__generic {
  @include top_section(820px, 850px, 820px, 780px, 800px, 600px);
}

.btn__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__top .btn-demo {
  display: flex;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-break: veryloose;
  width: 120px;
  height: 50px;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background-color: rgba(58, 255, 124, 0);
  border-color: $color-principal;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
}
.btn__top .btn-about {
  display: flex;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-break: veryloose;
  width: 120px;
  height: 50px;
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.3647058824);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-width: 2px;
}

.btn-demo:hover {
  background-color: $color-principal;
  color: black;
  box-shadow: -3px 22px 30px -12px rgba(228, 219, 255, 0.5);
  transition: all 0.2s ease-in-out;
}

.btn-about:hover {
  background-color: $btn-bg-secundario;
  color: black;
  box-shadow: -3px 22px 30px -12px rgba(228, 219, 255, 0.5);
  transition: all 0.2s ease-in-out;
}


.service__section {
  background-color: #fbf6ff;
  height: fit-content;
  padding: 50px 40px 100px 40px;
}
.service__section .card {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.904);
  margin: 0px 0px 30px 0px;
  overflow-x: hidden;
}
.service__section .card-body {
  padding: 0px 25px 0px 25px;
  text-align: center;
}
.service__section .card-img-top {
  display: flex;
  position: relative;
  width: 250px;
  justify-self: center;
  align-self: center;
  background-color: black;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}

.card-title {
  color: $text-color-primario;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-break: veryloose;
  font-family: "Montserrat", sans-serif;
  margin: 30px 0px 0px 0px;
}

.card-text-before {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-break: veryloose;
  color: $text-color-secundario;
  font-family: "Montserrat", sans-serif;
  margin: 5px 20px 0px 20px;
}
.card-text {
  color: $text-color-primario;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0px 0px 0px;
}
.cards__btn {
  display: flex;
  justify-content: center;
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 0px 0px;
}
.btn-card {
  display: flex;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-break: veryloose;
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: $text-color-secundario;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
  background-color: transparent;
  border-color: $border-card-color-secundario;
  border-radius: 5px;
  border-width: 1.8px;
}

.card:hover .card-title {
  color: $color-secundario;
}

.card:hover .btn-card {
  border-color: $color-secundario;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: -3px 22px 30px -12px rgba(213, 211, 219, 0.5);
  background: linear-gradient(180deg, rgb(243, 236, 255) 0%, rgb(255, 255, 255) 100%);
  border-width: 2px;
  transition: all 0.2s ease-in-out;
}

.btn-card:hover {
  background-color: $color-secundario;
  color: white;
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-content: center;
  text-align: left;
  height: 280px;
  background-color: black;
}

.footer__section .footer__img img {
  display: block;
  width: 150px;
}

.footer__section .footer__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 20px 0px;
}

.footer__section ul {
  padding: 0px;
  margin: 20px 40px 10px 40px;
}
.footer__section .text3 li {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  line-height: 2.5;
  padding: 0px;
  margin-left: 10px;
}
.footer__section .text3 img {
  display: inline-block;
  position: relative;
  width: 15px;
  top: -2px;
  margin-right: 10px;
}
.footer__section .social__icons img {
  display: inline-block;
  position: relative;
  width: 20px;
}
.footer__section .social__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 100px 0px 100px;
}
.footer__section .copyright {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-break: veryloose;
  padding: 0px 0px 0px 0px;
  color: $text-color-terciario;
}


.modal-content{
  display: flex;
  position: relative;
  right: 35px;
  flex-direction: column;
  width: max-content;

  .modal-body{
    background-color: black;
    border-style: none;
    width: max-content;
    padding: 0;
  }
  
  .modal-footer{
    border-style: none;
    background-color: black;
  }
  .modal-header{
    height: fit-content;
    background-color: black;
    border-style: none;
    }
    .btn-close{
      filter: invert(100%);
    }
    .modal-title{
      color: white;
      font-size: 14px;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
  }
  .reel-statement{
      color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 200;
      font-family: "Montserrat", sans-serif;
  }
  .btn-modal-about{
    display: block;
    position: relative;
    top: -5px;
    border-style: solid;
    border-radius: 5px;
    border-color: $color-secundario;
    border-width: 2.5px;
    background-color: black;
    color: white;
    height: 30px;
    width: 130px;
  }

  .link-cv{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .btn-modal-about:hover{
    background-color: $color-secundario;
    border-color: $color-secundario;
    color: white;
    box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
    transition: all 0.1s ease-in-out;
  }
}  


@media only screen and (min-width: 375px) {
  .service__section {
    padding: 50px 50px 100px 50px;
  }
  .card-body {
    padding: 0px 30px 0px 30px;
    text-align: center;
  }
  .service__section .card-img-top {
    width: 290px;
  }

  .tittle1 {
    font-size: 28px;
    padding: 10px 5px 0px 5px;
  }
  .text1 {
    font-size: 13px;
    padding: 5px 20px 0px 20px;
  }
  .footer__section .text3 li {
    margin-left: 35px;
  }
  .footer__section .social__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    margin: 20px 100px 0px 130px;
  }
}


@media only screen and (min-width: 425px) {
  .service__section {
    padding: 50px 60px 100px 60px;
  }
  .card-body {
    padding: 0px 30px 0px 30px;
    text-align: center;
  }
  .service__section .card-img-top {
    width:320px;
  }
  
  .tittle1 {
    font-size: 35px;
    padding: 0px 15px 0px 15px;
  }
  .text1 {
    font-size: 14px;
    padding: 0px 25px 20px 25px;
  }

  .btn__top {
    flex-direction: row;
    gap: 20px;
  }

  .btn__top .btn-demo {
    margin-bottom: 0px;
  }

  .footer__section .text3 li {
    margin-left: 55px;
  }
  .footer__section .social__icons {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100px;
    margin: 20px 100px 0px 150px;
  }
}


@media only screen and (min-width: 768px) {
  .top__section__generic .tittle1 {
    font-size: 35px;
    margin: 50px 100px 0px 100px;
  }
  .top__section__generic .text1 {
    font-size: 14px;
    margin: 30px 120px 30px 120px;
  }

  .service__section {
    padding: 50px 100px 100px 100px;
  }
  .service__section .card-body {
    padding: 0px 38px 0px 38px;
    text-align: center;
  }
  .service__section .card-img-top {
    width:390px;
  }

  .footer__section .text3 li {
    margin-left: 0px;
  }
  .footer__section .social__icons {
    display: flex;
    align-items:center;
    justify-content:space-around;
    width: 100px;
    margin: 40px 100px 0px 30px;
  }

  .footer__section {
    flex-direction: row;
    height: 200px;
  }
  .footer__section .copyright {
    text-align: left;
    padding: 0px 0px 0px 40px;
    
  }

  .footer__section .footer__img img {
    display: flex;
    width: 220px;
  }
  .footer__section .footer__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
  }
}


@media only screen and (min-width: 1024px) {
  .top__section__generic .tittle1 {
    font-size: 35px;
    margin: 50px 20px 0px 100px;
    text-align: left;
  }
  .top__section__generic .text1 {
    font-size: 14px;
    margin: 30px 10px 40px 90px;
    text-align: left;
  }

  .service__section {
    padding: 100px 130px 100px 130px;
  }
  .service__section .card-body {
    padding: 0px 50px 0px 50px;
    text-align: center;
  }
  .service__section .card-img-top {
    width:370px;
  }

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-content: center;
  text-align: left;
  height: 200px;
  background-color: black;
}

.footer__section .footer__img img {
  display: flex;
  width: 200px;
  position: relative;
  left: 30px;
}
.footer__section .footer__img {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  margin: 85px 0px 0px 0px;
}

.footer__section ul {
  padding: 0px;
  margin: 20px 40px 10px 40px;
}
.footer__section .text3 li {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 2.5;
  padding: 0px;
  margin-left: 10px;
}
.footer__section .text3 img {
  display: inline-block;
  position: relative;
  width: 15px;
  top: -2px;
  margin-right: 10px;
}
.footer__section .social__icons img {
  display: inline-block;
  position: relative;
  width: 20px;
}
.footer__section .social__icons {
  margin: 50px 100px 0px 42px;
}
.footer__section .copyright {
  text-align: left;
  padding: 0px 0px 0px 48px;
  color: $text-color-terciario;
}
}


@media only screen and (min-width: 1440px) {
  .top__section__generic .tittle1 {
    font-size: 40px;
    margin: 50px 50px 0px 100px;
    text-align: left;
  }
  .top__section__generic .text1 {
    font-size: 16px;
    margin: 30px 50px 40px 90px;
    text-align: left;
  }

  .btn__top {
    justify-content: flex-start;
    margin-left: 114px;
    flex-direction: row;
    gap: 20px;
  }

  .service__section {
    padding: 100px 230px 100px 230px;
  }

  .service__section .card-body {
    padding: 0px 80px 0px 80px;
    text-align: center;
  }
  .service__section .card-img-top {
    width:480px;
  }

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-content: center;
  text-align: left;
  height: 220px;
  background-color: black;
}

.footer__section .footer__img img {
  display: flex;
  width: 250px;
  position: relative;
  left: 30px;
}
.footer__section .footer__img {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  margin: 90px 0px 0px 0px;
}

.footer__section ul {
  padding: 0px;
  margin: 20px 40px 10px 0px;
}
.footer__section .text3 li {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 2.5;
  padding: 0px;
  margin-left: 10px;
}
.footer__section .text3 img {
  display: inline-block;
  position: relative;
  width: 15px;
  top: -2px;
  margin-right: 10px;
}
.footer__section .social__icons img {
  display: inline-block;
  position: relative;
  width: 20px;
}
.footer__section .social__icons {
  margin: 50px 100px 0px 3px;
}
.footer__section .copyright {
  font-size: 14px;
  text-align: left;
  padding: 0px 0px 0px 10px;
  color: $text-color-terciario;
}
  
}