@import"./variables";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: white;
  width: 100%;
}

.navbar {
  padding: 20px 30px 20px 30px;
  justify-items:center;
  align-content:space-between;
  font-family: "Montserrat", sans-serif;
  z-index: 9;
}

.navbar-brand{
  display: flex;
  width: 150px;
}

.navbar-toggler-icon{
  filter: invert(100%);
}

.navbar-nav{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.679);
  padding: 50px 10px 50px 10px;
  margin-top: 40px;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
  width: 180px;
  height: 40px;
}

.nav-item:hover{
  background-color: #00ffae23;
  border-color: $color-principal;
  border-style: solid;
  border-width: 1.8px;
  box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
-webkit-box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
-moz-box-shadow: -1px 8px 12px 1px rgba(36,31,54,0.49);
}

.navbar-nav {
  a {
    color: white;
    font-weight: 300;
    font-size: 14px;

    &[aria-current='page'] {
      color: $color-principal;
    }

    &:hover {
      color: white;
      font-weight: 400;
      box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
      transition: all 0.2s ease-in-out;
    }
  }
}

.counter a{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-principal;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-top: 4px;
  margin-left: 5px;
  font-weight:bolder;
  color: black;
}

@media only screen and (max-width: 768px) and (min-width: 426px)  {
  .navbar {
    padding: 20px 20px 20px 20px;
    justify-items:center;
    align-content:center;
  }
  
  
}

@media only screen and (max-width: 1023px) and (min-width: 769px)  {
  .navbar {
    padding: 0px 0px 0px 40px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: transparent;
    padding: 80px 40px 80px 0px;
    margin-top: 0px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
  }
  
  .bi{
    display: flex;
    margin-bottom: 2px;
  }

  .nav-item:hover{
    background-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
  }

  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 14px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
} 

@media only screen and (max-width: 1440px) and (min-width: 1024px)  {
  .navbar {
    padding: 0px 0px 0px 40px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: inline-flex;
    justify-content: center;
    align-items:flex-end;
    background-color: transparent;
    padding: 15px 40px 15px 0px;
    margin-top: 0px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
  }

  .bi{
    display: flex;
    margin-bottom: 2px;
  }

  .counter{
    margin-top: -3px;
    margin-left: -2px;
  }

  .nav-item:hover{
    background-color: transparent;
    border-color: none;
    border-style: none;
    border-width: none;
    box-shadow: none;
  }
  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 12px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
} 

@media only screen and (max-width: 1980px) and (min-width: 1441px)  {
  .navbar {
    padding: 0px 30px 0px 60px;
    justify-items:center;
    align-content:center;
  }

  .navbar-nav{
    display: inline-flex;
    justify-content: center;
    align-items:flex-end;
    background-color: transparent;
    padding: 15px 40px 15px 0px;
    margin-top: 0px;
  }
  
  .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
  }

  .bi{
    display: flex;
    margin-bottom: 2px;
  }

  .counter{
    margin-top: -4px;
    margin-left: -2px;
  }

  .navbar-nav {
    a {
      color: white;
      font-weight: 300;
      font-size: 12px;
  
      &[aria-current='page'] {
        color: $color-principal;
      }
  
      &:hover {
        color: $color-principal;
        font-weight: 400;
        box-shadow: -3px 22px 30px -12px rgba(44, 255, 192, 0.5);
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.101);
      }
    }
  }
 .nav-item:hover{
  background-color: transparent;
  border-color: none;
  border-style: none;
  border-width: none;
  box-shadow: none;
}
} 
